<header class="site-header">
  <div class="container">
    <a class="brand" href="/">MyBlog</a>
    <nav>
      <a href="/">Home</a>
      <a class="btn" href="/compose">Compose</a>
    </nav>
  </div>
</header>